.months-container {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.months-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.months-container ul li {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.month-container {
  width: 100%;
}

.month-container h1 {
  display: flex;
  justify-content: center;
  color: grey;
}

.month-container table thead th {
  font-size: 8px;
  border:1px solid;
  padding:1px;
  text-align: center;
  background: #87CEFA;
  width: 10px;
  color: white;
}

.month-container td {
  border:1px solid lightgrey;
  font-size: 8px;
  padding:10px 3px;
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 10px;
}
